player-connection-mode=Connect
player-connection-guid=146505536
player-connection-debug=0
player-connection-project-name=MathematicalSurfaces
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.4
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ebf46930dd094aa489f0f16ffc71f7cc
